<!-- Notifications -->
<div class="dropdown notification icons pmd-dropdown">
  <a href="javascript:void(0)" title="Notification" class="dropdown-toggle pmd-ripple-effect" data-toggle="dropdown" role="button" aria-expanded="true">
    <div data-badge="3" class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap">notifications_none</div>
  </a>

  <div class="pmd-dropdown-menu-container">
    <div class="pmd-dropdown-menu-bg pmd-dropdown-menu-bg-right"></div>
    <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu">
      <!-- Card header -->
      <div class="pmd-card-title">
        <div class="media-body media-middle">
          <a href="notifications.html" class="pull-right">3 new notifications</a>
          <h3 class="pmd-card-title-text">Notifications</h3>
        </div>
      </div>

      <!-- Notifications list -->
      <ul class="list-group pmd-list-avatar pmd-card-list">
        <li class="list-group-item hidden">
          <p class="notification-blank">
            <span class="dic dic-notifications-none"></span>
            <span>You don´t have any notifications</span>
          </p>
        </li>
        <li class="list-group-item unread">
          <a href="javascript:void(0)">
            <div class="media-left">
              <span class="avatar-list-img40x40">
                <img alt="40x40" data-src="holder.js/40x40" class="img-responsive" src="images/themes/profile-1.png" data-holder-rendered="true">
              </span>
            </div>
            <div class="media-body">
              <span class="list-group-item-heading"><span>Prathit</span> posted a new challanegs</span>
              <span class="list-group-item-text">5 Minutes ago</span>
            </div>
          </a>
        </li>
      </ul><!-- End notifications list -->
    </div>
  </div>
</div> <!-- End notifications -->
