<%= render partial: "layouts/backend/breadcrumb", locals: { breadcrumbs: @breadcrumbs } %>

<div class="col-md-12">
  <%= render partial: "backend/shared/alert" %>
</div>

<section class="content-header">
  <h1 class="page-header">Home Page</h1>
</section>

<section class="content">
</section>
