<div class="container sessions-wrapper">
  <div class="col-md-4 col-md-offset-4 login-box-body">
    <h3 class="login-box-msg">Forgot password</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
        <span class="fa fa-envelope-o form-control-feedback"></span>
      </div>

      <div class="row col-xs-4">
        <%= f.submit 'Reset', class: 'btn btn-primary btn-block btn-flat' %>
      </div>
    <% end %>

    <div class="clearfix"></div>

    <div align="center">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
